@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-serif: "Georgia", serif;
  --font-sans: "DM Sans", sans-serif;
}

body {
  font-family: var(--font-sans);
  background-color: #FAF6EF;
  color: #1A1A1A;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #C9973A;
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

